doctype html
html
    head
        meta(charset="utf-8")
        title JSONex
        script(src="./jsonex.require.js")
        style.
            div.codeblock-editor-wrapper {
                height: 275.00000000000003px !important;
            }
            html, body {
                margin: 0;
                padding: 0;
                font-family: Arial, Helvetica, sans-serif;
                width: 100%;
                height: 100%;
            }
            .typed-cursor{
                display: none;
            }
            @keyframes blink{
                0% { opacity:1; }
                50% { opacity:0; }
                100% { opacity:1; }
            }
            @-webkit-keyframes blink{
                0% { opacity:1; }
                50% { opacity:0; }
                100% { opacity:1; }
            }
            @-moz-keyframes blink{
                0% { opacity:1; }
                50% { opacity:0; }
                100% { opacity:1; }
            }
        style
            include ../node_modules/psychic-ui/dist/psychic-min.css
        script
            include ../node_modules/jquery/dist/jquery.js
        script
            include ../node_modules/ace-builds/src/ace.js
        style
            include ./codeblock.css
        script
            include ./codeblock.js
    body
        div(class="navbar navbar-center")
            div(class="container")
                div(class="navbar-title")
                    span(class="text-black") JSONex
                div(class="navbar-content")
                div(class="nav")
                    a(class="text-black" href="https://github.com/gabrielcsapo/json-ex") Source
        div(style="width:100%;")
            div(style="padding-right:50px;padding-left:50px;")
                br
                br
                div.grid
                    div.col-md-12-12.text-center
                        h5(id="subtext") Parsing JSON like it is 2017
                    div.col-md-3-12
                    div.col-md-6-12
                        div(class="text-left text-black")
                            i Encode
                        br
                        div
                            div#stringify.codeblock.
                                var JSONex = require('json-ex');
                                var output = JSONex.stringify({
                                    name: 'Hello world',
                                    person: true,
                                    age: 100000,
                                    date: new Date('10/20/2017'),
                                    func: function hello() { return 'hello world' },
                                    reg: new RegExp('%name%')
                                });
                                console.log(output);
                        br
                        br
                        div(class="text-left text-black")
                            i Encode
                        br
                        div
                            div#parse.codeblock.
                                var JSONex = require('json-ex');
                                var output = JSONex.parse('{"name":"Hello world","person":true,"age":100000,"date":"_DateEx_2017-10-20T07:00:00.000Z","func":"function hello() { return \'hello world\' }","reg":"_PxEgEr_/%name%/"}');
                                
                                console.log(output.func());
                        br
                        br
                    div.col-md-3-12
        br
        br
        div(class="navbar navbar-center" style="bottom:0;")
            div(class="container text-center")
                div(class="text-black") created with 🚀 by&nbsp;
                    a(href="http://www.gabrielcsapo.com") @gabrielcsapo
        script.
            $(window).ready(function() {
                $("#stringify").codeblock({
                    editable: true,
                    consoleText: "Output from the example appears here",
                    consoleClass: "codeblock-console-text",
                    runButtonText: "run",
                    runButtonClass: "codeblock-console-run",
                    console: true,
                    resetable: true,
                    runnable: true,
                    lineNumbers: true,
                    editorTheme: "ace/theme/monokai"
                });
                $("#parse").codeblock({
                    editable: true,
                    consoleText: "Output from the example appears here",
                    consoleClass: "codeblock-console-text",
                    runButtonText: "run",
                    runButtonClass: "codeblock-console-run",
                    console: true,
                    resetable: true,
                    runnable: true,
                    lineNumbers: true,
                    editorTheme: "ace/theme/monokai"
                })
            });
        
